body{
    font-family: Georgia, Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    height:684px;
    background-image:url('https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg?w=2000');
}
